.backtotop,
input[type="button"],
input[type="reset"],
input[type="submit"],
.main-navigation li.search-menu a:hover,
.main-navigation li.search-menu a:focus,
.main-navigation .count span,
.pagination .page-numbers.current,
.pagination .page-numbers:hover,
.pagination .page-numbers:focus,
#secondary .jetpack_subscription_widget input[type="submit"]:hover,
#secondary .jetpack_subscription_widget input[type="submit"]:focus,
.author-name:after,
.reply a,
.btn,
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus,
.slick-dots li.slick-active button,
.single-wrapper .entry-meta > span.tags-links a:hover,
.single-wrapper .entry-meta > span.tags-links a:focus,
.enquiry-button .btn,
#masthead .custom-button,
.woocommerce ul.products li.product .onsale, 
.woocommerce span.onsale,
.woocommerce #respond input#submit, 
.woocommerce button.button, 
.woocommerce input.button,
.jetpack_subscription_widget input[type="submit"]:hover,
.jetpack_subscription_widget input[type="submit"]:focus,
.second-design .backtotop,
.fourth-design .backtotop,
.second-design ul.tabs li a.active,
.second-design ul.tabs li a:hover, 
.second-design ul.tabs li a:focus,
.second-design .jetpack_subscription_widget input[type="submit"],
.third-design .btn, 
.third-design .jetpack_subscription_widget input[type="submit"],
.third-design .backtotop,
#newstation_pro_hero_banner_section .post-categories a,
#newstation_pro_breaking_news_section .news-title,
.featured-news-sidebar ul li.active:after,
#newstation_pro_hero_banner_section .slick-dots:before,
.dark-version .pagination .page-numbers.current, 
.dark-version .pagination .page-numbers:hover, 
.dark-version .pagination .page-numbers:focus,
.fourth-design .btn,
.fourth-design input[type="submit"],
.third-design .main-navigation .count span,
.third-design.woocommerce #newstation_pro_menu_section .buy-now a.button:hover, 
.third-design.woocommerce #newstation_pro_menu_section .buy-now a.button:focus,
.third-design #newstation_pro_gallery_section .entry-header,
.second-design input[type="submit"],
.third-design input[type="submit"],
#newstation_pro_featured_slider_section .slick-arrow:hover, 
#newstation_pro_featured_slider_section .slick-arrow:focus,
.second-design .btn,
#newstation_pro_gallery_section .entry-header {
    background-color: #0000FF;
}
.btn:hover, 
.btn:focus  {
	background-color: #fff;
	color: #0000FF;
	border: 1px solid #0000FF;
}

.btn,
.jetpack_subscription_widget input[type="submit"]:hover,
.jetpack_subscription_widget input[type="submit"]:focus,
.pagination .page-numbers:hover, 
.pagination .page-numbers:focus,
.third-design .jetpack_subscription_widget input[type="submit"],
#colophon .site-info a,
.dark-version .entry-title a,
.fourth-design #colophon ul li .tag-links a:hover,
.fourth-design #colophon ul li .tag-links a:focus,
.third-design #colophon ul li .tag-links a:hover,
.third-design #colophon ul li .tag-links a:focus,
.second-design #colophon ul li .tag-links a:hover,
.second-design #colophon ul li .tag-links a:focus,
.dark-version.fourth-design ul.post-categories li a:hover,
.dark-version.fourth-design ul.post-categories li a:focus,
.dark-version.fourth-design #secondary ul li a:hover, 
.dark-version.fourth-design #secondary ul li a:focus {
	color: #fff;
}
#masthead .custom-button:hover svg, 
#masthead .custom-button:focus svg,
.main-navigation ul.nav-menu > li:hover > a > svg, 
.main-navigation ul.nav-menu > li:focus > a > svg, 
.main-navigation ul.nav-menu > li.current-menu-item > a > svg,
.dark-version .navigation.post-navigation a:hover svg,
.dark-version .navigation.post-navigation a:focus svg,
.navigation.post-navigation a:hover svg,
.navigation.post-navigation a:focus svg {
	fill: #0000FF;
}

.main-navigation li.search-menu a:hover svg, 
.main-navigation li.search-menu a.search-active:hover svg, 
.main-navigation ul#primary-menu li.search-menu:hover > a.search-active svg {
	fill: #fff;
}
a,
.site-title a:hover,
.site-title a:focus,
.main-navigation ul#primary-menu li.current-menu-item > a,
.main-navigation ul#primary-menu li:hover > a,
.main-navigation ul#primary-menu li:focus > a,
.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation ul.nav-menu > li > a:hover,
.main-navigation ul.nav-menu > li > a:focus,
.post-navigation a, 
.posts-navigation a,
.navigation.post-navigation a:hover,
.navigation.posts-navigation a:hover,
.navigation.post-navigation a:focus,
.navigation.posts-navigation a:focus,
#secondary .cat-links a,
#secondary a:hover,
#secondary a:focus,
.page-header small,
.single-wrapper span.tags-links a:hover,
.single-wrapper span.tags-links a:focus,
.archive-blog-wrapper .posted-on a:hover,
.archive-blog-wrapper .posted-on a:focus,
.entry-meta span:not(:last-child):after,
#colophon a:hover,
#colophon a:focus,
.contact-info a:hover, 
.contact-info a:focus,
.main-navigation ul.sub-menu li a:hover,
.main-navigation ul.sub-menu li a:focus,
.section-title a:hover,
.section-title a:focus,
.entry-title a:hover,
.entry-title a:focus,
span.woocommerce-Price-amount.amount,
.woocommerce ul.products li.product .price del,
.product_meta a:hover, .product_meta a:focus, 
.woocommerce div.product p.price, 
.woocommerce div.product span.price,
#masthead .main-navigation ul.nav-menu li.current-menu-item > a, 
#masthead .main-navigation ul.nav-menu > li > a:hover, 
.main-navigation ul.nav-menu li:hover > a, 
#masthead .main-navigation ul.nav-menu > li > a:focus, 
.main-navigation ul.nav-menu li:focus > a,
.cat-links a:hover, 
.cat-links a:focus,
.posted-on a:hover, 
.posted-on a:focus,
#colophon ul li a:hover, 
#colophon ul li a:focus,
.jetpack_subscription_widget input[type="submit"],
#colophon .footer-menu ul li a:focus, 
#colophon .footer-menu ul li a:hover, 
#colophon .footer-menu ul li a.active,
.trail-items li a,
.dark-version #secondary a:hover, 
.dark-version #secondary a:focus,
.second-design .main-navigation ul#primary-menu li:hover > a, 
.second-design .main-navigation ul#primary-menu li:focus > a,
.third-design .main-navigation ul#primary-menu li:hover > a, 
.third-design .main-navigation ul#primary-menu li:focus > a,
.second-design .entry-title a:hover, 
.second-design .entry-title a:focus,
.second-design .cat-links a:hover, 
.second-design .post-categories a:focus,
.second-design #colophon .footer-menu ul li a.active, 
.second-design #colophon .footer-menu ul li a:hover, 
.second-design #colophon .footer-menu ul li a:focus,
.second-design #colophon ul li a:hover, 
.second-design #colophon ul li a:focus,
.second-design .jetpack_subscription_widget input[type="submit"]:hover,
.second-design .jetpack_subscription_widget input[type="submit"]:focus,
.second-design #colophon .site-info a:hover, 
.second-design #colophon .site-info a:focus,
.second-design .posted-on a:hover,
.second-design .posted-on a:focus,
.dark-version.second-design .cat-links a:hover,
.dark-version.second-design .cat-links a:focus,
.third-design .btn:hover, 
.third-design .btn:focus, 
ul.product-nav li.active a, ul.product-nav li a:hover, ul.product-nav li a:focus,
.third-design .entry-title a:hover, .third-design .entry-title a:focus,
.dark-version.third-design .cat-links a:hover,
.dark-version.third-design .cat-links a:focus,
.third-design .posted-on a:hover,
.third-design .posted-on a:focus,
.third-design #colophon .footer-menu ul li a.active, 
.third-design #colophon .footer-menu ul li a:hover, 
.third-design #colophon .footer-menu ul li a:focus,
.third-design #colophon ul li a:hover, 
.third-design #colophon ul li a:focus,
.third-design #colophon .site-info a:hover, 
.third-design #colophon .site-info a:focus,
.third-design .jetpack_subscription_widget input[type="submit"]:hover,
.third-design .jetpack_subscription_widget input[type="submit"]:focus,
.dark-version .navigation.post-navigation a:hover,
.dark-version .navigation.post-navigation a:focus,
.navigation.post-navigation a:hover,
.navigation.post-navigation a:focus,
.dark-version .single-wrapper .entry-meta > span a:hover, 
.dark-version .single-wrapper .entry-meta > span a:focus,
.single-wrapper .entry-meta > span a:hover, 
.single-wrapper .entry-meta > span a:focus,
.comment-meta .url:hover, .comment-meta .url:focus, 
.comment-metadata a, .comment-metadata a time,
.dark-version #colophon .site-info a:hover, 
.dark-version #colophon .site-info a:focus,
#newstation_pro_hero_banner_section .post-categories a:hover, 
#newstation_pro_hero_banner_section .post-categories a :focus,
#newstation_pro_hero_banner_section .posted-on a:hover, 
#newstation_pro_hero_banner_section .posted-on a:focus, 
#newstation_pro_hero_banner_section .entry-title a:hover, 
#newstation_pro_hero_banner_section .entry-title a:focus,
.post-categories a,
#newstation_pro_featured_news_section .posted-on a:hover, 
#newstation_pro_featured_news_section .posted-on a:focus, 
.featured-news-post .entry-title a:hover, 
.featured-news-post .entry-title a:focus,
#newstation_pro_top_politician_section .btn:hover, 
#newstation_pro_top_politician_section .btn:focus,
#secondary .posted-on a:hover, 
#secondary .posted-on a:focus,
#secondary .tag-links a,
.tag-links a,
#business-news .btn:hover, 
#business-news .btn:focus, 
#sports-news .btn:hover, 
#sports-news .btn:focus, 
#tech-news .btn:hover, 
#tech-news .btn:focus,
#newstation_pro_you_may_have_missed_section .btn:hover, 
#newstation_pro_you_may_have_missed_section .btn:focus,
#colophon ul li .posted-on a:hover, 
#colophon ul li .posted-on a:focus, 
#colophon ul li .tag-links a, 
.dark-version #colophon ul li .tag-links a, 
.dark-version .tag-links a,
.site-info span > span,
#colophon .site-info a:hover,
#colophon .site-info a:focus,
.dark-version .posted-on a:hover, 
.dark-version .posted-on a:focus, 
.dark-version ul.post-categories li a, 
.dark-version .testimonial-name a, 
.dark-version #secondary ul li a:hover, 
.dark-version #secondary ul li a:focus, 
.dark-version #secondary .tag-links a, 
.dark-version .post-navigation a:hover, 
.dark-version .posts-navigation a:hover, 
.dark-version .post-navigation a:focus, 
.dark-version .posts-navigation a:focus, 
.dark-version .comment-meta .url:hover, 
.dark-version .comment-meta .url:focus, 
.dark-version .comment-metadata a:hover, 
.dark-version .comment-metadata a time:hover, 
.dark-version .comment-metadata a:focus, 
.dark-version .comment-metadata a time:focus,
.fourth-design #top-bar .contact-info li:hover a, 
.fourth-design #top-bar .contact-info li:focus a,
.second-design #top-bar .contact-info li:hover a, 
.second-design #top-bar .contact-info li:focus a,
.third-design #top-bar .contact-info li:hover a, 
.third-design #top-bar .contact-info li:focus a ,
.fourth-design .entry-title a:hover, 
.fourth-design .entry-title a:focus,
.fourth-design .restaurant-content-wrapper .btn:not(:first-child),
#newstation_pro_special_offer .entry-meta a:hover, 
#newstation_pro_special_offer .entry-meta a:focus,
.fourth-design .btn:hover, .fourth-design .btn:focus,
.fourth-design .post-categories a,
.fourth-design .post-categories a, 
#secondary .widget_featured_items .post-categories a,
.fourth-design #secondary a:hover, 
.fourth-design #secondary a:focus,
.fourth-design .entry-title a:hover, 
.fourth-design .entry-title a:focus,
.fourth-design .posted-on a:hover, 
.fourth-design .posted-on a:focus,
.fourth-design .byline a:hover, 
.fourth-design .byline a:focus,
.fourth-design .testimonial-name a,
.fourth-design .section-subtitle,
.fourth-design #colophon ul li a:hover, 
.fourth-design #colophon ul li a:focus,
.fourth-design #colophon ul li .tag-links a,
.fourth-design .site-info span > span,
.fourth-design #colophon .site-info a:hover, 
.fourth-design #colophon .site-info a:focus,
.dark-version #newstation_pro_popular_products .entry-title a:hover, 
.dark-version #newstation_pro_popular_products .entry-title a:focus,
.dark-version #newstation_pro_special_offer .entry-title a:hover, 
.dark-version #newstation_pro_special_offer .entry-title a:focus,
.dark-version.fourth-design ul.post-categories li a,
.dark-version.fourth-design #secondary ul li a:hover, 
.dark-version.fourth-design #secondary ul li a:focus,
.dark-version.fourth-design .posted-on a:hover, 
.dark-version.fourth-design .posted-on a:focus, 
.dark-version.fourth-design .testimonial-name a,
.restaurant-content-wrapper .btn:not(:first-child),
.third-design .section-subtitle,
.third-design #newstation_pro_our_service_section .icon-container a,
.third-design #newstation_pro_menu_section ul.product-nav li.active a, 
.third-design #newstation_pro_menu_section ul.product-nav li a:hover,
.third-design #newstation_pro_menu_section h2.woocommerce-loop-product__title:hover, 
.third-design #newstation_pro_menu_section h2.woocommerce-loop-product__title:focus,
.third-design #newstation_pro_weekly_special .entry-title a:hover, 
.third-design #newstation_pro_weekly_special .entry-title a:focus,
.third-design .testimonial-name a,
.third-design #colophon ul li .tag-links a,
.third-design .site-info span > span,
.second-design .site-info span > span,
.dark-version.third-design .posted-on a:hover, 
.dark-version.third-design .posted-on a:focus, 
.dark-version.third-design .testimonial-name a, 
.dark-version.third-design #secondary ul li a:hover, 
.dark-version.third-design #secondary ul li a:focus, 
.dark-version.third-design ul.post-categories li a,
.featured-content-wrapper .btn:not(:first-child),
.second-design .btn:hover, 
.second-design .btn:focus,
.second-design #newstation_pro_our_service_section .icon-container a,
.second-design #newstation_pro_team_section span.team-position,
.second-design .testimonial-name a,
.second-design #colophon ul li .tag-links a,
.dark-version.second-design .posted-on a:hover, 
.dark-version.second-design .posted-on a:focus, 
.dark-version.second-design .testimonial-name a, 
.dark-version.second-design #secondary ul li a:hover, 
.dark-version.second-design #secondary ul li a:focus, 
.dark-version.second-design ul.post-categories li a {
	color: #0000FF;
}

.section-title a,
.entry-title a {
	color: #2c2d39;
}

.loader-container svg,
.contact-info svg,
.main-navigation ul#primary-menu li:hover > svg,
.main-navigation ul#primary-menu li:focus > svg,
.main-navigation li.menu-item-has-children:hover > a > svg,
.main-navigation li.menu-item-has-children > a:hover > svg,
.main-navigation li.menu-item-has-children > a:focus > svg,
.main-navigation ul#primary-menu > li.current-menu-item > a > svg,
.main-navigation ul.nav-menu > li > a.search:hover svg.icon-search,
.main-navigation ul.nav-menu > li > a.search:focus svg.icon-search,
.navigation.post-navigation a:hover svg,
.navigation.posts-navigation a:hover svg,
.navigation.post-navigation a:focus svg,
.navigation.posts-navigation a:focus svg,
.widget_search form.search-form button.search-submit:hover svg,
.widget_search form.search-form button.search-submit:focus svg,
.single-wrapper span.posted-on svg,
.single-wrapper span.cat-links svg,
.more-link a svg,
.second-design .main-navigation ul.nav-menu > li:hover > a > svg, 
.second-design .main-navigation ul.nav-menu > li:focus > a > svg, 
.second-design .main-navigation ul.nav-menu > li.current-menu-item > a > svg,
.third-design .main-navigation ul.nav-menu > li:hover > a > svg, 
.third-design .main-navigation ul.nav-menu > li:focus > a > svg, 
.third-design .main-navigation ul.nav-menu > li.current-menu-item > a > svg,
#newstation_pro_top_politician_section .btn svg,
#business-news .btn svg, 
#sports-news .btn svg, 
#tech-news .btn svg,
#newstation_pro_you_may_have_missed_section .btn svg,
#colophon .jetpack_subscription_widget #subscribe-submit svg,
.fourth-design #colophon .jetpack_subscription_widget #subscribe-submit svg, 
.fourth-design #top-bar .contact-info li:hover svg, 
.fourth-design #top-bar .contact-info li:focus svg, 
.fourth-design .main-navigation .button ul .cart a:hover svg, 
.fourth-design .main-navigation .button ul .cart a:focus svg,
.second-design #colophon .jetpack_subscription_widget #subscribe-submit svg, 
.second-design #top-bar .contact-info li:hover svg, 
.second-design #top-bar .contact-info li:focus svg, 
.second-design .main-navigation .button ul .cart a:hover svg, 
.second-design .main-navigation .button ul .cart a:focus svg,
.third-design #colophon .jetpack_subscription_widget #subscribe-submit svg, 
.third-design #top-bar .contact-info li:hover svg, 
.third-design #top-bar .contact-info li:focus svg, 
.third-design .main-navigation .button ul .cart a:hover svg, 
.third-design .main-navigation .button ul .cart a:focus svg,
.third-design #newstation_pro_menu_section .cart-icon svg:hover, 
.third-design #newstation_pro_menu_section .cart-icon svg:focus, 
.third-design #newstation_pro_menu_section .favourite svg:hover, 
.third-design #newstation_pro_menu_section .favourite svg:focus {
	fill: #0000FF;
}
.more-link a:hover svg,
.more-link a:focus svg  {
	fill: #2c2d39;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.pagination .page-numbers.current,
.pagination .page-numbers:hover,
.pagination .page-numbers:focus,
.single-wrapper span.tags-links a:hover,
.single-wrapper span.tags-links a:focus,
.reply a,
.btn,
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus,
.slick-dots li button,
.single-wrapper .entry-meta > span.tags-links a:hover,
.single-wrapper .entry-meta > span.tags-links a:focus,
.enquiry-button .btn,
#masthead .custom-button,
.cat-links a:hover,
.cat-links a:focus,
.backtotop,
ul.tabs li a.active, ul.tabs li a:hover, ul.tabs li a:focus,
.second-design .backtotop,
.fourth-design .backtotop,
.second-design ul.tabs li a.active,
.second-design ul.tabs li a:hover, 
.second-design ul.tabs li a:focus,
.third-design .btn, 
.third-design .backtotop,
#newstation_pro_testimonial_section .wrapper,
.dark-version .pagination .page-numbers.current, 
.dark-version .pagination .page-numbers:hover, 
.dark-version .pagination .page-numbers:focus,
.fourth-design .btn,
.fourth-design .section-title,
.fourth-design #newstation_pro_testimonial_section .wrapper,
.third-design #newstation_pro_testimonial_section .wrapper,
.second-design .btn,
#newstation_pro_team_section .team-wrapper:hover .featured-image,
.second-design #newstation_pro_testimonial_section .wrapper {
	border-color: #0000FF;
}

.post-categories a:hover,
.post-categories a:focus,
.comment-metadata a:hover, 
.comment-metadata a:focus, 
.comment-metadata a:hover time, 
.comment-metadata a:focus time,
#secondary .cat-links a, 
#secondary a:hover,
.fourth-design .post-categories a:hover, 
#fourth-design .post-categories a:focus, 
#secondary .widget_featured_items .post-categories a:hover,
#secondary .widget_featured_items .post-categories a:focus,
.fourth-design .testimonial-name a:hover,
.fourth-design .testimonial-name a:focus {
	color: #000;
}



@-webkit-keyframes colorchange {
	0%   {border-color: #0000FF;}
	25%  {border-color: #0000FF;}
	50%  {border-color: #0000FF;}
	75%  {border-color: #0000FF;}
	100% {border-color: #0000FF;}
}

@keyframes colorchange {
	0%   {border-color: #0000FF;}
	25%  {border-color: #0000FF;}
	50%  {border-color: #0000FF;}
	75%  {border-color: #0000FF;}
	100% {border-color: #0000FF;}
}


@media screen and (min-width: 1025px) {
	#masthead .main-navigation ul.nav-menu li.current-menu-item > a, 
	#masthead .main-navigation ul.nav-menu > li > a:hover, 
	.main-navigation ul.nav-menu li:hover > a,
	#top-navigation .main-navigation ul.nav-menu > li.current-menu-item > a, 
	#top-navigation .main-navigation ul.nav-menu > li > a:hover, 
	#top-navigation .main-navigation ul.nav-menu > li:hover > a,
	.second-design #masthead .main-navigation ul.nav-menu li.current-menu-item > a, 
	.second-design #masthead .main-navigation ul.nav-menu > li > a:hover, 
	.second-design .main-navigation ul.nav-menu li:hover > a, 
	.second-design #masthead .main-navigation ul.nav-menu > li > a:focus, 
	.second-design .main-navigation ul.nav-menu li:focus > a, 
	.third-design #masthead .main-navigation ul.nav-menu li.current-menu-item > a, 
	.third-design .main-navigation ul.nav-menu li:hover > a, 
	.third-design #masthead .main-navigation ul.nav-menu > li > a:focus, 
	.third-design .main-navigation ul.nav-menu li:focus > a,
	.dark-version #newstation_pro_breaking_news_section .posted-on a:hover,
	.dark-version #newstation_pro_breaking_news_section .posted-on a:focus,
	.dark-version #newstation_pro_breaking_news_section .entry-title a:hover,
	.dark-version #newstation_pro_breaking_news_section .entry-title a:focus,
	.dark-version #top-navigation .main-navigation ul.nav-menu > li.current-menu-item > a,
	.dark-version #top-navigation .main-navigation ul.nav-menu > li > a:hover, 
	.dark-version #top-navigation .main-navigation ul.nav-menu > li:hover > a,
	.dark-version.blog #top-navigation .main-navigation ul.nav-menu > li > a:hover, 
	.dark-version.single #top-navigation .main-navigation ul.nav-menu > li > a:hover, 
	.dark-version.archive #top-navigation .main-navigation ul.nav-menu > li > a:hover, 
	.dark-version.blog .main-navigation a:hover, 
	.dark-version.blog .main-navigation ul.nav-menu > li > a:hover, 
	.dark-version.blog #site-navigation a:hover, 
	.dark-version.single .main-navigation a:hover, 
	.dark-version.single .main-navigation ul.nav-menu > li > a:hover, 
	.dark-version.single #site-navigation a:hover, 
	.dark-version.archive .main-navigation a:hover, 
	.dark-version.archive .main-navigation ul.nav-menu > li > a:hover, 
	.dark-version.archive #site-navigation a:hover,
	.dark-version.blog #top-navigation .main-navigation ul.nav-menu > li > a:focus, 
	.dark-version.single #top-navigation .main-navigation ul.nav-menu > li > a:focus, 
	.dark-version.archive #top-navigation .main-navigation ul.nav-menu > li > a:focus, 
	.dark-version.blog .main-navigation a:focus, 
	.dark-version.blog .main-navigation ul.nav-menu > li > a:focus, 
	.dark-version.blog #site-navigation a:focus, 
	.dark-version.single .main-navigation a:focus, 
	.dark-version.single .main-navigation ul.nav-menu > li > a:focus, 
	.dark-version.single #site-navigation a:focus, 
	.dark-version.archive .main-navigation a:focus, 
	.dark-version.archive .main-navigation ul.nav-menu > li > a:focus, 
	.dark-version.archive #site-navigation a:focus,
	.fourth-design #masthead .main-navigation ul.nav-menu li.current-menu-item > a, 
	.fourth-design #masthead .main-navigation ul.nav-menu > li > a:hover, 
	.fourth-design .main-navigation ul.nav-menu li:hover > a,
	.fourth-design .main-navigation ul.sub-menu li:hover > a, 
	.fourth-design .main-navigation ul.sub-menu li:focus > a,
	.fourth-design #masthead .main-navigation ul li .sub-menu li:hover a, 
	.fourth-design #masthead .main-navigation ul li .sub-menu li:focus a,
	.fourth-design #masthead .main-navigation ul li .sub-menu li ul li:hover a, 
	.fourth-design #masthead .main-navigation ul li .sub-menu li ul li:focus a,
	.third-design #masthead .main-navigation ul.nav-menu li.current-menu-item > a, 
	.third-design #masthead .main-navigation ul.nav-menu > li > a:hover, 
	.third-design .main-navigation ul.nav-menu li:hover > a,
	.third-design .main-navigation ul.sub-menu li:hover > a, 
	.third-design .main-navigation ul.sub-menu li:focus > a,
	.third-design #masthead .main-navigation ul li .sub-menu li:hover a, 
	.third-design #masthead .main-navigation ul li .sub-menu li:focus a,
	.third-design #masthead .main-navigation ul li .sub-menu li ul li:hover a, 
	.third-design #masthead .main-navigation ul li .sub-menu li ul li:focus a,
	.second-design #masthead .main-navigation ul.nav-menu li.current-menu-item > a, 
	.second-design #masthead .main-navigation ul.nav-menu > li > a:hover, 
	.second-design .main-navigation ul.nav-menu li:hover > a,
	.second-design .main-navigation ul.sub-menu li:hover > a, 
	.second-design .main-navigation ul.sub-menu li:focus > a,
	.second-design #masthead .main-navigation ul li .sub-menu li:hover a, 
	.second-design #masthead .main-navigation ul li .sub-menu li:focus a,
	.second-design #masthead .main-navigation ul li .sub-menu li ul li:hover a, 
	.second-design #masthead .main-navigation ul li .sub-menu li ul li:focus a,
	.dark-version.second-design #masthead .main-navigation ul li .sub-menu li:hover ul li:hover a, 
	.dark-version.second-design #masthead .main-navigation ul li .sub-menu li:focus ul li:focus a,
	.dark-version.third-design #masthead .main-navigation ul li .sub-menu li:hover ul li:hover a, 
	.dark-version.third-design #masthead .main-navigation ul li .sub-menu li:focus ul li:focus a,
	.dark-version.fourth-design #masthead .main-navigation ul li .sub-menu li:hover ul li:hover a, 
	.dark-version.fourth-design #masthead .main-navigation ul li .sub-menu li:focus ul li:focus a {
		color: #0000FF;
	}
	.dark-version .main-navigation ul.nav-menu > li:hover > a > svg, 
	.dark-version .main-navigation ul.nav-menu > li.current-menu-item > a > svg, 
	.dark-version.blog .main-navigation .nav-menu > li > a:hover svg.icon-down, 
	.dark-version.archive .main-navigation .nav-menu > li > a:hover svg.icon-down, 
	.dark-version.single .main-navigation .nav-menu > li > a:hover svg.icon-down, 
	.dark-version.blog .main-navigation .nav-menu > li > a:focus svg.icon-down, 
	.dark-version.archive .main-navigation .nav-menu > li > a:focus svg.icon-down, 
	.dark-version.single .main-navigation .nav-menu > li > a:focus svg.icon-down,
	.main-navigation ul.nav-menu > li:hover > a > svg, 
	.main-navigation ul.nav-menu > li.current-menu-item > a > svg, 
	.blog .main-navigation .nav-menu > li > a:hover svg.icon-down, 
	.archive .main-navigation .nav-menu > li > a:hover svg.icon-down, 
	.single .main-navigation .nav-menu > li > a:hover svg.icon-down, 
	.blog .main-navigation .nav-menu > li > a:focus svg.icon-down, 
	.archive .main-navigation .nav-menu > li > a:focus svg.icon-down, 
	.single .main-navigation .nav-menu > li > a:focus svg.icon-down,
	.fourth-design #masthead .main-navigation ul.nav-menu li.current-menu-item > a > svg, 
	.fourth-design .main-navigation ul ul li.menu-item-has-children:hover > a > svg, 
	.fourth-design .main-navigation ul ul li.menu-item-has-children > a:hover > svg ,
	.third-design #masthead .main-navigation ul.nav-menu li.current-menu-item > a > svg, 
	.third-design .main-navigation ul ul li.menu-item-has-children:hover > a > svg, 
	.third-design .main-navigation ul ul li.menu-item-has-children > a:hover > svg ,
	.second-design #masthead .main-navigation ul.nav-menu li.current-menu-item > a > svg, 
	.second-design .main-navigation ul ul li.menu-item-has-children:hover > a > svg, 
	.second-design .main-navigation ul ul li.menu-item-has-children > a:hover > svg {
		fill: #0000FF;
	}
}
